/* Structure */
#input_container {
	position: relative;
	padding: 0;
	margin: 0;
}

#mic {
	position: absolute;
}
/* Images */
.logo  {
	display: block;
	padding-top: 109px;
	height: 92px;
	width: 272px;
	position: relative;
	margin: auto;
}

.mic {
	position: absolute;
}

/* Forms */
.form {
	display: block;
	padding-top: 30px;
	margin: auto;
	position: relative;
}

.formCustom {
	width: 486px;
	height: 40px;
	border: 1px solid #d9d9d9;
	margin: auto;
	display: block;
	background-image: url("mic.png");
	background-repeat: no-repeat;
	background-position: 99%;
	background-size: 5%;

}

.formCustom:hover {
	border: 1px solid #d9d9d9;
	border-color: #a0a0a0;
}

/* Buttons */
.buttons {
	width: 487px;
	height: 58px;
	padding-top: 18px;
	margin: auto;
	position: relative;
}

.buttonSearch {
	display: block;
	position: relative;
	margin: 0px;
	background-color: #f2f2f2;
	font-family: arial, sans-serif;
	color: #757575;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	padding: 8px;
	font-size: 13px;
	font-weight: bold;
	min-width: 54px;
	height: 36px;
	text-align: center;
	overflow: hidden;

}

.buttonSearch.google {
	float: left;
	margin: 4px 11px 4px 11px;
	width: 125px;
	left: 85px;
}

.buttonSearch.lucky{
	float: right;
	margin: 4px 11px 4px 11px;
	width: 142px;
	right: 95px;
}

.buttonSearch:hover {
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #222;
}
/* Responsiveness Edits */
@media only screen and (max-device-width: 400px) {
	.logo {
		width: 50%;
		height: auto;
		margin: auto;
	}
}

/* This controls the whole page!  */

* {
	background-color:  #ffffff;
}
