/* Structure */

/* Content */
.logo  {
	display: block;
	padding-top: 109px;
	height: 92px;
	width: 272px;
	position: relative;
	margin: auto;
}

.form {
	padding-top: 70px;
	width: 10em;
	margin: auto;
	position: relative;
}

/* Buttons */

.buttonSearch {
	background-color: #f2f2f2;
	font-family: arial, sans-serif;
	color: #757575;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	text-align: center;
	padding: 0 16px;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	position: relative;
}

/* Responsiveness Edits */
@media only screen and (max-device-width: 400px) {
	.logo {
		width: 50%;
		height: auto;
		margin: auto;
	}
}

/* This controls the whole page!  */

* {
	background-color:  #ffffff;
}
